@import "tailwindcss";

:root {
  --main-color: #040921;
  --foreground: #171717;
}

@theme inline {
  --color-primary: var(--main-color);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

